.message-modal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: #edf0f2;
}

.message-modal-close-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  cursor: pointer;
  background-color: #edf0f2;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  right: 600px;
  top: 20px;
  position: fixed;
  z-index: 100000;
  transition: background-color 0.2s;
}

.message-modal-close-icon:hover {
  background-color: #f8f9fa;
}

.message-modal-container .panels {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  width: 100%;
}

.message-modal-container .panel .title {
  width: 100%;
  padding: 20px;
  background: #edf0f2;
}

.message-modal-container .panel .title .user {
  color: #adb5bd;
  font-size: 12px;
  font-weight: 600;
}

.message-modal-container .panel .title .body,
.message-modal-container .panel .title .body * {
  color: #11171d;
  font-size: 16px;
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.message-modal-container .panel .title .body p,
.message-modal-container .panel .title .body blockquote {
  padding: 0px;
  margin: 0px;
}

.message-modal-container .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  height: 100%;
  background-color: #f8f9fa;
  position: relative;
}

.message-modal-container .panel:first-child {
  border-right: 2px solid #edf0f2;
}

.message-modal-container .compose {
  background: white;
  border-top: 1px solid #edf0f2;
  width: 100%;
  padding: 0px;
  height: fit-content;
}

.message-modal-container .messages {
  flex: 1;
  width: 100%;
  background: #edf0f2;
  position: relative;
}

/* Get around parent flex issue */
.message-modal-container .messages .scrolling {
  position: absolute;
  top: 0px;
  left: 5%;
  height: 100%;
  width: 90%;
}

.message-modal-container .messages .scrolling .inner {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
