<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Weekday</title>
    <link rel="stylesheet" href="https://use.typekit.net/njt5tyh.css" />
</head>
<body>
    {{{body}}}
</body>
</html>
